<mat-toolbar color="primary" class="navbar mat-elevation-z6">
  <span class="brand">
    <mat-icon>business</mat-icon>
    <span>Prueba técnica desarrollador MEAN Stack</span>
  </span>
  <span class="spacer"></span>
  <div class="nav-links">
    <a mat-button routerLink="/vista-organizacional" routerLinkActive="active-link">
      <mat-icon>account_tree</mat-icon> ESTRUCTURA
    </a>
    <a mat-button routerLink="/talento" routerLinkActive="active-link">
      <mat-icon>people</mat-icon> TALENTO
    </a>
    <a mat-button routerLink="/estructura" routerLinkActive="active-link">
      <mat-icon>domain</mat-icon> DEPARTAMENTOS
    </a>
  </div>
</mat-toolbar>
